 

<div class="container-fluid navborder">
    <div class="row justify-content-center align-items-center navbackground" style="height: 170px;">
        <div class="col-1 justify-content-center">
            <img src="images/dos-logo-light.png" alt="">
        </div>
        <div class="col-5">
            <div class="navfont">
            <h5>Ambassade et consulats des</h5>
            <h5>Etats-Unis d’Amérique en France</h5>
            </div>
        </div>
        
        <div class="col-6 navfont text-right" style="padding-right: 5%;">
           <i class="fab fa-twitter"></i>
           <i class="fab fa-facebook-f"></i>
           <i class="fab fa-instagram"></i>
           <i class="fas fa-plus"></i>
           <i class="fas fa-search"></i>	

        </div>

    </div>
</div>
    <div class="row justify-content-center" style="width: 100%;">
        <div class="col-11">
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0%;">
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ">
      <li class="nav-item active navbutton">
        <a class="nav-link" href="#">Visas</a>
      </li>
       <li class="nav-item active navbutton aparece">
        <a class="nav-link" href="#">Citoyens americains</a>
        <ul class="subnav">
            <li><div class="container">
                    <div class="row">
                        <div class="col-3 subnavcol">
                            <a>ASSISTANCE D’URGENCE</a>
                            <p>Citoyens américains en situation d’urgence, veuillez appeler le : 01 43 12 22 22 et composez le 0.

En dehors de la France, veuillez appeler : +33( 0)1 43 12 22 22 et composez le 0.

Assistance d’Urgence aux Citoyens Américains
Enlèvements Internationaux d’Enfants</p>
                        </div>
                        <div class="col-3 subnavcol">
                            <a>PASSEPORTS AMÉRICAINS</a>
                            <p>Passeports Américains à Paris
Renonciation à la citoyenneté américaine</p>
                        </div>
                        <div class="col-3 subnavcol">
                            <a>SERVICE NOTARIAL TOUTES NATIONALITÉS</a>
                            <p>Service Notarial / Légalisation de Signatures</p>
                        </div>
                        <div class="col-3 ">
                            <a>PROGRAMMES FÉDÉRAUX</a>
                            <p>Fiscalité Américaine FATCA et l’IRS</p>
                        </div>
                    </div>
                </div></li>
            
        </ul>
      </li>
       <li class="nav-item active navbutton aparece">
        <a class="nav-link" href="#">France/Etat-Unis</a>
        <ul class="subnav subnav-2">
            <li><div class="container">
                    <div class="row">
                       <div class="col-3 subnavcol">
                            <a>ASSISTANCE D’URGENCE</a>
                            <p>Citoyens américains en situation d’urgence, veuillez appeler le : 01 43 12 22 22 et composez le 0.

En dehors de la France, veuillez appeler : +33( 0)1 43 12 22 22 et composez le 0.

Assistance d’Urgence aux Citoyens Américains
Enlèvements Internationaux d’Enfants</p>
                        </div>
                        <div class="col-3 subnavcol">
                            <a>PASSEPORTS AMÉRICAINS</a>
                            <p>Passeports Américains à Paris
Renonciation à la citoyenneté américaine</p>
                        </div>
                        <div class="col-3 subnavcol">
                            <a>SERVICE NOTARIAL TOUTES NATIONALITÉS</a>
                            <p>Service Notarial / Légalisation de Signatures</p>
                        </div>
                        <div class="col-3">
                            <a>PROGRAMMES FÉDÉRAUX</a>
                            <p>Fiscalité Américaine FATCA et l’IRS</p>
                        </div>
                    </div>
                </div></li>
            
        </ul>
      </li>
       <li class="nav-item active navbutton aparece">
        <a class="nav-link" href="#">Commerce</a>
        <ul class="subnav subnav-3">
            <li><div class="container">
                    <div class="row">
                       <div class="col-3 subnavcol">
                            <a>ASSISTANCE D’URGENCE</a>
                            <p>Citoyens américains en situation d’urgence, veuillez appeler le : 01 43 12 22 22 et composez le 0.

En dehors de la France, veuillez appeler : +33( 0)1 43 12 22 22 et composez le 0.

Assistance d’Urgence aux Citoyens Américains
Enlèvements Internationaux d’Enfants</p>
                        </div>
                        <div class="col-3 subnavcol">
                            <a>PASSEPORTS AMÉRICAINS</a>
                            <p>Passeports Américains à Paris
Renonciation à la citoyenneté américaine</p>
                        </div>
                        <div class="col-3 subnavcol">
                            <a>SERVICE NOTARIAL TOUTES NATIONALITÉS</a>
                            <p>Service Notarial / Légalisation de Signatures</p>
                        </div>
                        <div class="col-3">
                            <a>PROGRAMMES FÉDÉRAUX</a>
                            <p>Fiscalité Américaine FATCA et l’IRS</p>
                        </div>
                    </div>
                </div></li>
            
        </ul>
      </li>
       <li class="nav-item active navbutton aparece">
        <a class="nav-link" href="#">Education et culture</a>
        <ul class="subnav subnav-4">
            <li><div class="container">
                    <div class="row">
                       <div class="col-3 subnavcol">
                            <a>ASSISTANCE D’URGENCE</a>
                            <p>Citoyens américains en situation d’urgence, veuillez appeler le : 01 43 12 22 22 et composez le 0.

En dehors de la France, veuillez appeler : +33( 0)1 43 12 22 22 et composez le 0.

Assistance d’Urgence aux Citoyens Américains
Enlèvements Internationaux d’Enfants</p>
                        </div>
                        <div class="col-3 subnavcol">
                            <a>PASSEPORTS AMÉRICAINS</a>
                            <p>Passeports Américains à Paris
Renonciation à la citoyenneté américaine</p>
                        </div>
                        <div class="col-3 subnavcol">
                            <a>SERVICE NOTARIAL TOUTES NATIONALITÉS</a>
                            <p>Service Notarial / Légalisation de Signatures</p>
                        </div>
                        <div class="col-3">
                            <a>PROGRAMMES FÉDÉRAUX</a>
                            <p>Fiscalité Américaine FATCA et l’IRS</p>
                        </div>
                    </div>
                </div></li>
            
        </ul>
      </li>
       <li class="nav-item active navbutton">
        <a class="nav-link" href="#">Ambasade & consulats</a>
        
      </li>
       <li class="nav-item active navbutton">
        <a class="nav-link" href="#">Dernieres nouvelles</a>
      </li>
           
    </ul>
  </div>
</nav>
</div>
</div>

<div class="row justify-content-center" style="width: 100%;">

<div class="slidershow ">
  <div class="slides">
    <input type="radio" name="r" id="r1" checked>
    <input type="radio" name="r" id="r2">
    <input type="radio" name="r" id="r3">
    <input type="radio" name="r" id="r4">
    <input type="radio" name="r" id="r5">
    <div class="slide s1">
      <img src="images/5G_wireless_feature-1140x440.jpg" alt="">
    </div>
    <div class="slide">
      <img src="images/5G_wireless_feature-1140x440.jpg" alt="">
    </div>
    <div class="slide">
      <img src="images/GettyImages-1137423012-1140.jpg" alt="">
    </div>
    <div class="slide">
      <img src="images/5G_wireless_feature-1140x440.jpg" alt="">
    </div>
    <div class="slide">
      <img src="images/5G_wireless_feature-1140x440.jpg" alt="">
    </div>
  </div>  
</div>
</div>

<div class="row justify-content-center" style="width: 100%;">
 <div class="navigation">
    <label for="r1" class="bar"><p class="barp">Information COVID-19 (en anglais)</p></label>
    <label for="r2" class="bar"><p class="barp">La Silicon Valley et la sécurité nationale</p></label>
    <label for="r3" class="bar"><p class="barp">Pourquoi la 5G inquiète l’Amérique</p></label>
    <label for="r4" class="bar"><p class="barp">Incendie de Notre-Dame : la Maison-Blanche adresse des paroles de r...</p></label>
    <label for="r5" class="bar"><p class="barp">Quatre piliers d’action</p></label>
  </div>
  </div>
 

  <div class="container-fluid dispblock">
    <div class="row justify-content-center" style="width: 100%";"margin: 5px";>
        <div class="col-3"><div class="box-item" data-hover="Que es esto?"> Je voudrais un visa</div></div>
        <div class="col-3"><div class="box-item" data-hover="Que es esto?"> Services aut citoyens americans</div></div>
        <div class="col-3"><div class="box-item" data-hover="Que es esto?"> Je souhaite etudier aux Etats-Unis</div></div>
    </div>

    <div class="row justify-content-center" style="width: 100%";>
        <div class="col-3"><div class="box-item" data-hover="Que es esto?">
            <p><i class="fas fa-user"></i> Je cherche un emploi</p>
        </div>
    </div>
        <div class="col-3"><div class="box-item" data-hover="Que es esto?"> Se suis a la recherche</div></div>
        <div class="col-3"><div class="box-item" data-hover="Que es esto?"> Information pour la presse</div></div>
    </div>
</div>   




    












